/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#central-block {
    margin: 20px auto;
    width: 80%;
}

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/* header style */
header {
    padding: 20px;
    text-align: center;
    line-height: 150%;
}

h1 {
    padding: 15px;
    margin-bottom: 35px;
    color: rgb(216, 85, 85);
}


/* main rules */
#rows::after {
    content: "";
    display: table;
    clear: both;
}



.card{
    height: 150px;
    width:calc((100%/3) - 60px);
    background-color: rgb(2, 2, 27);
    float: left;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    
}

img{
    height: 150px;
}

.text{
    color: white;
    float: right;
    line-height: 45px;
    margin-right: 20px;
    padding: 1px;

}

a{
    text-decoration: none;
    color: aqua;
}